.vs/
/Chargen-UI/bin/*
/Chargen-UI/obj/*
/packages/MakCraft.MakViewModelBase.5.5.0
/CharacterMain/obj/*
/CharacterMain/bin/*
/packages
/Infrastructure.Persistence/bin/Debug
/Infrastructure.Persistence/obj/Debug
/Domain.Character/obj/Debug
/Application.Modules/obj/Debug
/Domain.Character/bin/Debug/Domain.Character.dll
/Domain.Character/bin/Debug/Domain.Character.pdb
/Application.Modules/bin/Debug
